h1 {
  color: white;
}

.searched-movies {
  margin-left: auto;
  margin-right: auto;
}
.searched-movies h1 {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.searched-movies-list {
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 20px auto;
}

.searched-movies-item {
  background-color: #fff;
  max-width: 200px;
  border: 1px solid #ddd;
  padding: 10px;
  transition: transform 0.3s ease;
}

.searched-movies-item:hover {
  transform: translateY(-5px);
}

.searched-movies-item img {
  width: 100%;
  height: auto;
}

.searched-movies-item a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.searched-movies-item div {
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
}
