.movie-details-div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
}

.go-back-button {
  margin-bottom: 10px;
  width: 90px;
  height: 30px;
  border-color: grey;
  border-width: 0.1px;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.go-back-button:hover,
.go-back-button:active {
  background-color: gray;
  color: white;
  cursor: pointer;
}

.movie-details {
  display: flex;
  flex-direction: column;
}

.movie-details-img {
  margin-right: 20px;
  height: 600px;
}

.movie-details-descr {
  width: 500px;
  margin-top: 20px;
  text-align: justify;
  line-height: 1.3;
}
